second highest in the list

In [2]:
a=[45,85,99,56,7,810,46,99,100,25,8]
a=sorted(a)
print(a)
print(a[-2])

[7, 8, 25, 45, 46, 56, 85, 99, 99, 100, 810]
100

reverse the string

In [3]:
a="deepanshu choudhary"
print(a[::-1])

yrahduohc uhsnapeed

In [7]:
a="deepanshu choudhary"
a=a.split(" ")
for i in range(len(a)):
    i=i+1
    i=-i
    print(a[i])

choudhary
deepanshu

In [9]:
a=[45,89,45,96,8,9,36,9,78,96,8,9,5,6,4,5,52,7,8,96,56,8,3,99,7,8,78]
a=list(set(a))
a=sorted(a)
print(a)

[3, 4, 5, 6, 7, 8, 9, 36, 45, 52, 56, 78, 89, 96, 99]

In [16]:
a=int(input("enter your num here sir plz= "))

for i in range(1,a+1):
    l=[]
    b=" "
    for  y in range(1,i+1):
        
        l.append(str(y))
    b=b.join(l)
    print(b)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [18]:
a=int(input("enter your num here sir plz= "))

bbb=1
for i in range(1,a+1):
    l=[]
    b=" "
    for  y in range(1,i+1):
        
        l.append(str(bbb))
        bbb=bbb+1
    b=b.join(l)
    print(b)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [22]:
a=int(input("enter your num here sir plz= "))
b=" "
c=a
for i in range(1,a+1):
    print(c*b,i*" *")
    c=c-1

             *
            * *
           * * *
          * * * *
         * * * * *
        * * * * * *
       * * * * * * *
      * * * * * * * *
     * * * * * * * * *
    * * * * * * * * * *
   * * * * * * * * * * *

In [31]:
a=int(input("enter your num here sir plz= "))
b=" "
c=0
for y in range(-a,0):
    y=-y
    print(c*b,y*" *")
    c=c+1




b=" "
c=a
for i in range(2,a+1):
    c=c-1
    print(c*b,i*"* ")

  * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * *
    * * * * * * * * * * * * *
     * * * * * * * * * * * *
      * * * * * * * * * * *
       * * * * * * * * * *
        * * * * * * * * *
         * * * * * * * *
          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *
                *
               * *
              * * *
             * * * *
            * * * * *
           * * * * * *
          * * * * * * *
         * * * * * * * *
        * * * * * * * * *
       * * * * * * * * * *
      * * * * * * * * * * *
     * * * * * * * * * * * *
    * * * * * * * * * * * * *
   * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *

In [7]:
class person:
    def __init__(self,a,b):
        self.name=a
        self.age=b
        print(f"the name and the age of the person is {self.name} and {self.age}")
    def __del__(self):
        print(f"the object named with {self.name} is deleted from the class")
        

ghj=person("Deepanshu",24)
fghj=person("fghj",20)

del fghj

the name and the age of the person is Deepanshu and 24
the object named with Deepanshu is deleted from the class
the name and the age of the person is fghj and 20
the object named with fghj is deleted from the class
the object named with fghj is deleted from the class

In [12]:
class CARS:
    wheels=4
    def __init__(self,mileage):
        self.mileage=mileage

    def display(self):
        print(f"the wheels and the milage of the cars is {self.wheels}  and {self.mileage}")
car1=CARS(15)
car2=CARS(18)
car2.wheels=6
car2.mileage=12
car2.display()
CARS.wheels=6
car3=CARS(15)
car3.display()

the wheels and the milage of the cars is 6  and 12
the wheels and the milage of the cars is 6  and 15

In [13]:
class calculations:
    @staticmethod
    def __init__(a,b):
        print(f"the sum of num is = {a+b}")
ss=calculations(4,5)

the sum of num is = 9

In [22]:
class person:
    def __init__(self,a,b):
        self.name=a
        self.age=b
        print(f"the name and the age of the person is {self.name} and {self.age}")
    def calculation(self,*args):
        if len(args)==0:
            print(f"the object named with {self.name} is having some input error")
        if len(args)==1:
            self.a=args[0]
            print(f"the object named with {self.name} is {self.a}")
        
        if len(args)==2:
            self.a=args[0]
            self.b=args[1]
            print(f"the object named with {self.name} is {self.a+self.b} ")
         
        if len(args)==3:
            self.a=args[0]
            self.b=args[1]
            self.c=args[2]
            print(f"the object named with {self.name} is {self.a+self.b+self.c} ")
        if len(args)==4:
            self.a=args[0]
            self.b=args[1]
            self.c=args[2]
            self.d=args[3]
            print(f"the object named with {self.name} is {self.a+self.b+self.c+self.d} ")


        
        
        

ghj=person("Deepanshu",24)
ghj.calculation(20,25,25)
ghj.calculation(5,12)

the name and the age of the person is Deepanshu and 24
the object named with Deepanshu is 70
the object named with Deepanshu is 17

In [1]:
with open ("filz.txt","w") as ff:
    ff.write("hello deepanshu how are you")

In [2]:
with open ("D:\Resume\Cover Letter (JPMC).txt","r") as gh:
    p=gh.read()
    print(p)

Dear Hiring Manager,

I am writing to express my interest in the Data Scientist â€“ Product Analytics position. With hands-on experience in data analytics, predictive modeling, and dashboard development, I bring a strong foundation in transforming behavioral data into actionable insights that improve customer engagement and business performance.

During my internship at Celebal Technologies and through projects like OLA Bengaluru Mobility Analysis and Crop Production Forecasting, I applied Python, SQL, and Power BI to uncover patterns, build real-time dashboards, and deliver insights that supported data-driven decisions. I have also explored the use of machine learning models using scikit-learn for clustering and trend analysis.

My strength lies in bridging data science and business outcomesâ€”applying analytical techniques while maintaining a sharp focus on user behavior, KPI tracking, and customer retention strategies.

I look forward to the opportunity to contribute to your team.

Sincerely,
Deepanshu Choudhary
choudharydeepanshu0026@gmail.com
7668002183

Write a Python function to check if a number is a palindrome.

In [8]:
a=input("enter your name here sir plz= ")
for i in range(len(a)):
    y=i+1
    if a[i]==a[-y]:
        pass
    else:
        print("the string is not a palindrome")
        break
else:
    print("the string is a palindrome")

the string is not a palindrome

Write a function that takes a list and returns a new list with only the even numbers.

In [13]:
b=[1,2,3,4,5,6,7,8,9,10]
def fgh(p):
    if(p % 2 == 0):
        return p
a=[i for i in b if fgh(i)]
print(a)

[2, 4, 6, 8, 10]

Write a function that returns the first non-repeating character in a string.

In [3]:
a="ddeeppannsshhu"
l=[]
for i in a:
    l.append(i)

for i in range(len(l)):
    if a[i] in l and a[i] not in l[:i]:
        print(f"the first non repeating character is {a[i]}")
        break

the first non repeating character is d

In [4]:
def first_non_repeating_char(s):
    char_count = {}

    # Count occurrences of each character
    for char in s:
        char_count[char] = char_count.get(char, 0) + 1

    # Find the first character with a count of 1
    for char in s:
        if char_count[char] == 1:
            return char

    return None  # or return '' if you prefer